@model AutomatedTellerMachine.Models.CheckingAccount

@{
    ViewBag.Title = "Details";
}

<div class="row">
    @* col-md-offset-3: Start from 3rd column, not the first column*@
    <div class="col-md-6 col-md-offset-3">
        <h4>CheckingAccount</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Balance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Balance)
            </dd>

        </dl>
    </div>
</div>